body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
 }

#nombre-profesion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nombre-profesion img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-left: 10px;
    object-fit: cover;
    margin-bottom: 10px;
}

header p {
    margin: 10px 0 0 0;
}

section {
    padding: 20px;
    text-align: center;
    background-color: #f2f2f2;
    /* Cambia el color de fondo aquí */
}

section h2 {
    color: #333;
}

section p {
    color: #555;
    text-align: justify;

}

#nombre-profesion{
    margin-right: 20px;
}

#biografia {
    max-width: 600px; /* Establece el ancho máximo que desees */
    margin: 0 auto; /* Centra el bloque de biografía en la página */
}

.justificado {
    text-align: justify;
}

#proyectos {
    background-color: #d2dce0;
    /* Cambia el color de fondo aquí */
}

#habilidades {
    background-color: #E6E6FA
}

#contacto {
    background-color: #f5e5c2
}

/* Estilo para enlaces */
a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
       text-decoration: underline;
}

section img {
    max-width: 100%; /* La imagen no superará el ancho de su contenedor */
    height: auto; /* Mantiene la proporción de aspecto original */
}

#redes-sociales {
    margin-top: 10px;
}

#redes-sociales a {
    display: inline-block;
    margin-right: 10px; /* Espaciado entre los iconos, ajusta según sea necesario */
}

#redes-sociales img {
    width: 30px; /* Tamaño de los iconos, ajusta según sea necesario */
    height: 30px;
}

#proyectos ul {
    list-style: none;
    padding: 0;
    display: flex; /* Utiliza flexbox para mostrar los proyectos en línea */
    justify-content: center; /* Centra los proyectos horizontalmente */
    align-items: center; /* Centra los proyectos verticalmente */
}

.proyecto {
    margin-right: 20px; /* Espaciado entre los proyectos, ajusta según sea necesario */
}

.proyecto img {
    width: 400px; /* Establece el ancho deseado para todas las imágenes */
    height: 400px; /* Establece la altura deseada para todas las imágenes */
    object-fit: contain; /* Mantiene la proporción de aspecto y recorta si es necesario */
    border-radius: 8px; /* Borde redondeado opcional para las imágenes */
}